body{
    background-color: lightgrey;
}
h1{
    color: white;
    }
div{
  display:inline-block;
background-color: white;
 width: 300px;
 border-radius:5%;
 margin: 10px;
}
img{
  width: 250px;
  margin: 24px;
  float: left;
 border-radius: 5%;

}
p{
  padding-left: 18px;
  padding-right: 18px;
}
h4{
  text-align: center;
}
a{
  display:block ;
  text-align: center;
  background-color: red;
  color: white;
  width: 250px;
  border: 10px solid red;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 5%;
}
a:hover{
  background-color: blue;
  border:10px solid blue ;
}