body{
    background-color: lightgrey;
}
p{
    color:white;
    background-color: gray;
    border: 12px solid grey;
}
img{
    width:440px;
    height:340px;
    display:block;
    margin-right:auto;
    margin-left:auto;
  }
